/* GRID */
.home-grid {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas:
    "blog blog sidebar"
    "blog blog sidebar"
    "cta cta cta";

    @include respond(tab-port) {
      grid-template-areas: 
      "blog blog blog"
      "sidebar sidebar sidebar"
      "cta cta cta";
    }
  }

/* BLOG SECTION */

.blog-section {
  grid-area: blog;
}

/* SIDEBAR SECTION */

.sidebar-section {
  grid-area: sidebar;
}


/* CTA SECTION */

.cta-section {
  grid-area: cta;
  padding: 50px 0;
  background: $secondary-color;
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.08),
  0 6px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
  border-radius: 3px;
}


/* FOOTER */

.footer-section {
  background: $terciary-color;
  padding: 50px 0 30px 0;
}

