/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather',
 serif;
  -webkit-font-smoothing: antialiased;
  background: whitesmoke;
  line-height: 1.7;
}

html {
  font-size: 62.5%;
}

@media (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #041012;
  font-size: 1.8rem;
}

.btn {
  display: inline-block;
  font-weight: bold;
  padding: 15px 45px;
  background: #efdac1;
  color: #222;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla',
 sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #222;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  color: #777;
  padding: 10px 0;
  font-size: 1.6rem;
  font-weight: 300;
}

@media (max-width: 37.5em) {
  p {
    font-size: 1.8rem;
  }
}

blockquote {
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 25px;
  border-left: solid 3px #b67c72;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn:hover {
  color: #ccc;
}

a:hover {
  color: #efdac1;
}

p {
  padding: 0;
}

/* GRID */
.home-grid {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas: "blog blog sidebar"
 "blog blog sidebar"
 "cta cta cta";
}

@media (max-width: 56.25em) {
  .home-grid {
    grid-template-areas: "blog blog blog"
 "sidebar sidebar sidebar"
 "cta cta cta";
  }
}

/* BLOG SECTION */
.blog-section {
  grid-area: blog;
}

/* SIDEBAR SECTION */
.sidebar-section {
  grid-area: sidebar;
}

/* CTA SECTION */
.cta-section {
  grid-area: cta;
  padding: 50px 0;
  background: #b67c72;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
  border-radius: 3px;
}

/* FOOTER */
.footer-section {
  background: #041012;
  padding: 50px 0 30px 0;
}

.bio {
  padding-top: 17px;
  border-top: solid 2px #efdac1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio__left-avatar {
  opacity: 1;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
}

.bio__right {
  padding-left: 35px;
}

.bio__right-list {
  display: flex;
  margin-top: 7px;
  padding: 0;
}

.bio__right-list__item-icon {
  margin: 0 4px;
  font-size: 2.8rem;
}

@media (max-width: 56.25em) {
  .bio__right-list__item-icon {
    font-size: 4rem;
  }
}

.blogpost-section {
  padding: 0 2rem;
}

.post-header {
  width: 100%;
  height: 400px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 37.5em) {
  .post-header {
    height: 200px;
  }
}

.post {
  position: relative;
  top: -85px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding: 50px 75px;
}

@media (max-width: 56.25em) {
  .post {
    padding: 20px;
  }
}

.post__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post__date {
  display: block;
  color: #777;
  margin: 45px 0 10px 0;
  font-size: 1.4rem;
}

.post__category {
  color: #b67c72;
  margin-bottom: 5px;
}

.post__related {
  padding: 0 50px 50px 50px;
}

.post__relatedHeading {
  margin-bottom: 15px;
}

@media (max-width: 56.25em) {
  .post__relatedHeading {
    text-align: center;
    margin-bottom: 25px;
  }
}

.post__relatedWrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 56.25em) {
  .post__relatedWrapper {
    flex-direction: column;
    align-items: center;
  }
}

.post__relatedWrapper-box {
  max-width: 275px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  overflow: hidden;
}

.post__relatedWrapper-boxImg {
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 56.25em) {
  .post__relatedWrapper-box {
    width: 100%;
  }
}

.post__relatedWrapper-box:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 56.25em) {
  .post__relatedWrapper-box:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.post__relatedWrapper-boxBottom {
  padding: 22px 34px;
}

.post__relatedWrapper-boxBottom-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post__relatedWrapper-boxBottom-date {
  font-size: 1.4rem;
  color: #777;
}

.cta-wrapper {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.cta__heading {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.cta__text {
  color: #efdac1;
  padding: 0 20px;
  margin-bottom: 12px;
}

.cta__btn {
  background: #041012;
  color: #fff;
  margin-top: 10px;
  font-size: 1.4rem;
}

.pagination {
  flex-wrap: wrap;
}

.page-item button {
  height: 35px;
  width: 35px;
  font-size: 1.4rem;
  color: #b67c72;
}

.page-item:hover button {
  color: #b67c72;
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2rem 10px;
}

.footer p {
  color: #fff;
  font-weight: inherit;
}

.footer a {
  color: #ccc;
  margin-left: 4px;
  font-weight: 700;
  font-size: inherit;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 25px 0;
}

@media (max-width: 56.25em) {
  .main-nav {
    flex-direction: column;
    padding: 15px 0 5px 0;
  }
}

@media (max-width: 37.5em) {
  .main-nav {
    padding: 12px 0 0 0;
  }
}

.logo {
  font-family: 'Permanent Marker',
 cursive;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: #041012;
  padding: 7px 10px 7px 10px;
}

.logo-span {
  color: #b67c72;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 37.5em) {
  .navBar {
    flex-direction: column;
  }
}

.navBar__item a {
  color: #222;
  padding: 7px 24px;
  display: inline-block;
  font-weight: 700;
}

@media (max-width: 56.25em) {
  .navBar__item a {
    padding: 7px 12px;
  }
}

@media (max-width: 37.5em) {
  .navBar__item a {
    padding: 5px 0;
  }
}

.hero-section {
  margin-bottom: 35px;
  padding: 0 20px;
}

.hero {
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  padding: 60px;
  border-radius: 3px;
  background: linear-gradient(to top left, rgba(255, 154, 158, 0.85), rgba(250, 208, 196, 0.85)), url("../images/herobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 56.25em) {
  .hero {
    padding: 25px;
  }
}

.hero__heading {
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.1;
  margin-bottom: 12px;
  color: #041012;
}

.hero__heading--stylishText {
  font-weight: 800;
}

.hero__subheading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #041012;
  max-width: 600px;
  margin: 5px auto 25px auto;
}

.hero__btn {
  color: #fff;
  background-color: #041012;
  font-size: 1.4rem;
  outline: none;
}

.hero__btn:hover {
  color: #efdac1;
}

.postCard {
  position: relative;
  max-height: 300px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  background-size: cover;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
}

@media (max-width: 75em) {
  .postCard {
    max-height: none;
  }
}

@media (max-width: 37.5em) {
  .postCard {
    flex-direction: column;
    height: 500px;
  }
}

.postCard:not(:last-child) {
  margin-bottom: 25px;
}

.postCard__left {
  flex-basis: 35%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 75em) {
  .postCard__left {
    flex-basis: 40%;
  }
}

@media (max-width: 37.5em) {
  .postCard__left {
    height: 100%;
    flex-basis: 50%;
  }
}

.postCard__right {
  flex-basis: 65%;
  padding: 27px 16px 16px 27px;
  position: relative;
}

@media (max-width: 75em) {
  .postCard__right {
    flex-basis: 60%;
  }
}

@media (max-width: 37.5em) {
  .postCard__right {
    flex-basis: 50%;
  }
}

.postCard__category {
  text-transform: capitalize;
  color: #b67c72;
  letter-spacing: 1px;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

.postCard__title {
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.postCard__text {
  margin-bottom: 16px;
  font-size: 14px;
}

.postCard__btn {
  padding: 8px 24px;
  background-color: #041012;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.postCard__btn:hover {
  color: #efdac1;
}

.postCard__date {
  display: block;
  padding: 0 10px;
  color: #777;
  font-size: 1.2rem;
}

.postCard__icon {
  margin-left: 5px;
}

.sidebar {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  overflow: hidden;
  padding: 25px 38px 25px 38px;
}

@media (max-width: 56.25em) {
  .sidebar {
    padding: 20px 50px;
  }
}

@media (max-width: 56.25em) {
  .sidebarTop {
    text-align: center;
  }
}

.sidebarTop__heading {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sidebarTop__img {
  border-radius: 3px;
  margin-bottom: 15px;
}

@media (max-width: 56.25em) {
  .sidebarTop__img {
    width: 65%;
  }
}

.sidebarTop__text {
  margin-bottom: 10px;
}

.sidebarTop__socialList {
  display: flex;
  margin-top: 7px;
  padding: 0;
}

@media (max-width: 56.25em) {
  .sidebarTop__socialList {
    justify-content: center;
  }
}

.sidebarTop__socialList-itemIcon {
  margin: 0 4px;
  font-size: 2.8rem;
}

@media (max-width: 56.25em) {
  .sidebarTop__socialList-itemIcon {
    font-size: 4rem;
  }
}

.sidebarMiddle__heading {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.sidebarMiddle__postWrapper {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
}

@media (max-width: 37.5em) {
  .sidebarMiddle__postWrapper {
    flex-direction: column;
  }
}

.sidebarMiddle__postWrapper--1 {
  padding-top: 15px;
}

.sidebarMiddle__postWrapper--2 {
  padding-top: 25px;
}

.sidebarMiddle__postWrapper-left {
  flex-basis: 65%;
  padding: 0px 10px 5px 0;
}

@media (max-width: 37.5em) {
  .sidebarMiddle__postWrapper-left {
    text-align: center;
  }
}

.sidebarMiddle__postWrapper-right {
  flex-basis: 35%;
}

@media (max-width: 37.5em) {
  .sidebarMiddle__postWrapper-right {
    text-align: center;
  }
}

.sidebarMiddle__postWrapper-img {
  border-radius: 3px;
}

@media (max-width: 37.5em) {
  .sidebarMiddle__postWrapper-img {
    width: 65%;
    margin: 12px 0;
  }
}

.sidebarMiddle__postCategory {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #b67c72;
  margin-bottom: 4px;
}

.sidebarMiddle__postTitle {
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */