/* CSS Imports */
@import "base.css";
@import "header.css";
@import "sidebar.css";


/* BLOG SECTION */
.blog-section {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: blog;
}

.postCard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  background-size: cover;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
}

@media (max-width: 37.5em) {
  .postCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 500px;
  }
}

.postCard:not(:last-child) {
  margin-bottom: 25px;
}

.postCard__left {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 75em) {
  .postCard__left {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}

@media (max-width: 37.5em) {
  .postCard__left {
    height: 100%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

/* .postCard__left--1 {
  background-image: url("../img/travel1.jpg");
}

.postCard__left--2 {
  background-image: url("../img/food1.jpg");
}

.postCard__left--3 {
  background-image: url("../img/health1.jpg");
} */

.postCard__right {
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  padding: 20px 20px 58px 40px;
  position: relative;
}

@media (max-width: 75em) {
  .postCard__right {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
}

@media (max-width: 37.5em) {
  .postCard__right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.postCard__category {
  text-transform: uppercase;
  color: #b67c72;
  letter-spacing: 1px;
}

.postCard__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.postCard__text {
  margin-bottom: 7px;
}

.postCard__btn {
  padding: 8px 24px;
  background-color: #041012;
  color: #fff;
}

.postCard__bottomList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 12px;
  left: 0;
  padding-left: 33px;
}

.postCard__bottomList-item {
  padding: 0 10px;
  color: #777;
  font-size: 1.4rem;
}

.postCard__icon {
  margin-left: 5px;
}


/* CTA SECTION */
.cta-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cta;
  padding: 50px 0;
  background: #b67c72;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
  border-radius: 3px;
}

.cta-wrapper {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.cta__heading {
  text-transform: uppercase;
  color: #fff;
}

.cta__text {
  color: #efdac1;
  padding: 0 20px;
}

.cta__btn {
  background: #041012;
  color: #fff;
  margin-top: 10px;
}

/* FOOTER */
.footer-section {
  background: #041012;
  padding: 50px 0 30px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 37.5em) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .footer__listItem {
    margin-bottom: 5px;
  }
}

.footer__listItem:not(:first-child) a {
  margin-left: 20px;
}

@media (max-width: 37.5em) {
  .footer__listItem:not(:first-child) a {
    margin: 0;
  }
}

.footer__listItem a {
  color: #fff;
}

.footer__list li:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

@media (max-width: 37.5em) {
  .footer__list li:not(:last-child) {
    padding: 0;
    border: 0;
  }
}

.footer__img {
  max-width: 150px;
}

.footer__imgWrapper {
  text-align: center;
  margin-top: 25px;
}

.post-section {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: post;
}

.post {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.post__imgWrapper {
  width: 100%;
  height: 400px;
  /* background-image: url("../img/travel1.jpg"); */
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 37.5em) {
  .post__imgWrapper {
    height: 200px;
  }
}

.post__main {
  padding: 40px;
}

@media (max-width: 56.25em) {
  .post__main {
    padding: 20px;
  }
}

.post__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post__category {
  color: #b67c72;
  margin-bottom: 5px;
}

.post__related {
  padding: 0 50px 50px 50px;
}

.post__relatedHeading {
  margin-bottom: 15px;
}

.post__relatedWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 56.25em) {
  .post__relatedWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.post__relatedWrapper-box {
  width: 200px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  overflow: hidden;
}

@media (max-width: 56.25em) {
  .post__relatedWrapper-box {
    width: 100%;
  }
}

.post__relatedWrapper-box:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 56.25em) {
  .post__relatedWrapper-box:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.post__relatedWrapper-boxBottom {
  padding: 10px 20px;
}

.post__relatedWrapper-boxBottom-title {
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.post__relatedWrapper-boxBottom-date {
  font-size: 1.4rem;
  color: #777;
}

.grid-blogpost {
  margin-bottom: 50px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  grid-template-areas: "post sidebar"
    "post sidebar";
}

@media (max-width: 56.25em) {
  .grid-blogpost {
    -webkit-column-gap: 0;
    column-gap: 0;
    row-gap: 25px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "post"
      "sidebar";
  }
}

/*# sourceMappingURL=main.css.map */