.cta {

  &-wrapper {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
  }

  &__heading {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
  }

  &__text {
    color: $primary-color;
    padding: 0 20px;
    margin-bottom: 12px;
  }

  &__btn {
    background: $terciary-color;
    color: #fff;
    margin-top: 10px;
    font-size: 1.4rem;
  }
}