.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @include respond(tab-port) {
    flex-direction: column;
    padding: 15px 0 5px 0;
  }

  @include respond(phone) {
    padding: 12px 0 0 0;
  }
}

.logo {
  font-family: 'Permanent Marker',
        cursive;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: $terciary-color;
  padding: 7px 10px 7px 10px;

  &-span {
    color: $secondary-color;
  }

  @include respond(tab-port) {
  
  }

  @include respond(phone) {
  
  }
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    flex-direction: column;
  }

  &__item a {
    color: $black-color;
    padding: 7px 24px;
    display: inline-block;
    font-weight: 700;

    @include respond(tab-port) {
      padding: 7px 12px;
    }

    @include respond(phone) {
      padding: 5px 0;
    }
  }
}

.hero-section {
  margin-bottom: 35px;
  padding: 0 20px;
}

.hero {
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.08),
  0 6px 6px rgba(0, 0, 0, 0.08);
  padding: 60px;
  border-radius: 3px;
  background: linear-gradient(to top left, rgba(255, 154, 158, 0.85), rgba(250, 208, 196, 0.85)),
    url('../images/herobg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(tab-port) {
    padding: 25px;
  }

  &__heading {
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.1;
    margin-bottom: 12px;
    color: $terciary-color;

    &--stylishText {
      font-weight: 800;
    }
  }

  &__subheading {
    font-size: 2.2rem;
    font-weight: 400;
    color: $terciary-color;
    max-width: 600px;
    margin: 5px auto 25px auto;
  }

  &__btn {
    color: #fff;
    background-color: $terciary-color;
    font-size: 1.4rem;
    outline: none;
  }

}
